html,
body {
  width: 100%;
}
.container {
  width: 100%;
}

/* ------------display板块------------ */
.display {
  margin-bottom: 16px;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(
    left,
    #0d154a,
    #322a6c,
    #0d154a
  ); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(
    right,
    #0d154a,
    #322a6c,
    #0d154a
  ); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(
    right,
    #0d154a,
    #322a6c,
    #0d154a
  ); /* Firefox 3.6 - 15 */
  background: linear-gradient(
    to right,
    #0d154a,
    #322a6c,
    #0d154a
  ); /* 标准的语法 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .logo {
  width: 30px;
  height: 30px;
  margin: 0 12.5px 0 22px;
}
.header .describe {
  height: 13px;
}
.header .download_header {
  display: block;
  position: absolute;
  right: 16px;
  width: 90px;
  height: 32px;
  font-size: 13px;
  color: #79f4db;
  border: 2px solid #79f4db;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
}
.banner {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding-top: 39px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("../images/display/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner .description {
  margin: 0 0 59px 30px;
}
.banner .textLogo {
  display: block;
  height: 25px;
  margin-bottom: 13.5px;
}
.banner .text_1 {
  display: block;
  height: 14px;
  margin-bottom: 12px;
}
.banner .text_2 {
  display: block;
  height: 14px;
}
.goDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 201.5px;
  height: 40px;
  /* display: block;
    line-height: 40px;
    text-align: center; */
  background-color: #52caa7;
  border-radius: 20px;
  margin: 0 auto;
}
.goDownload .text {
  font-size: 17px;
  color: #fff;
  margin-right: 19px;
}
.goDownload .download {
  height: 15px;
}

/* ------------企业数字化板块------------ */
.enterprise {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.enterprise .enterpriseDig {
  width: 84px;
  margin: 0 auto;
  display: block;
  margin-bottom: 7.5px;
}
.enterprise .text {
  font-size: 11px;
  color: #8b8ba7;
  margin-bottom: 28.5px;
}
/* ------数字名片板块------ */
.enterprise .numCardContainer {
  width: 100%;
  background-image: url("../images/enterprise/mobileBg_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-bottom: 57px;
}
.enterprise .numCardContainer .mobileFrame_1 {
  margin: 0 auto;
  width: 30%;
  display: block;
  margin-bottom: 21px;
}
.enterprise .numCardContainer .numCard {
  width: 60%;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translateX(-50%);
}
.enterprise .numCardContainer .twoPoint {
  margin: 0 auto;
  display: block;
  width: 9px;
}
/* ------移动官网板块------ */
.enterprise .officialWebContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 57px;
}
.enterprise .officialWebContainer .mobileFrame_1 {
  margin: 0 auto;
  width: 30%;
  display: block;
  margin-bottom: 21px;
}
.enterprise .officialWebContainer .numCard {
  width: 60%;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translateX(-50%);
}
.enterprise .officialWebContainer .twoPoint {
  margin: 0 auto;
  display: block;
  width: 9px;
}
/* ------客户管理板块------ */
.enterprise .cusManageContainer {
  width: 100%;
  background-image: url("../images/enterprise/mobileBg_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.enterprise .cusManageContainer .mobileFrame_1 {
  margin: 0 auto;
  width: 30%;
  display: block;
  margin-bottom: 21px;
}
.enterprise .cusManageContainer .numCard {
  width: 60%;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translateX(-50%);
}
.enterprise .cusManageContainer .twoPoint {
  margin: 0 auto;
  display: block;
  width: 9px;
}
/* ------移动办公板块------ */
.enterprise .mobOfficingContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.enterprise .mobOfficingContainer .mobileFrame_1 {
  margin: 0 auto;
  width: 30%;
  display: block;
  margin-bottom: 21px;
}
.enterprise .mobOfficingContainer .numCard {
  width: 60%;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translateX(-50%);
}
.enterprise .mobOfficingContainer .twoPoint {
  margin: 0 auto;
  display: block;
  width: 9px;
}
/* ------八宫格板块------ */
.butContainer {
  width: 100%;
  background-image: url("../images/enterprise/butContainerBg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.butContainer ul {
    width: 100%;
}
.butContainer ul li {
    float: left;
    /* width: 66.5px; */
    width: 22%;
    height: 33.5px;
    line-height: 33.5px;
    text-align: center;
    background-image: url("../images/enterprise/butBg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* margin: 0 13.5px 23px 0; */
    margin-right: 4%;
    margin-bottom: 23px;
}
.butContainer ul li:nth-child(4n) {
    margin-right: 0;
}
.butContainer ul li:nth-child(n + 5) {
    margin-bottom: 0;
}
.butContainer ul li a {
    font-size: 10px;
    color: #E1DCFB;
    font-weight: 700;
}

/* ------------场景应用板块------------ */
.scene {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #F1F1F1;
  margin-bottom: 20px;
}
.scene .sceneApplication {
  width: 68px;
  margin: 0 auto;
  display: block;
  margin-bottom: 7px;
}
.scene .text {
  font-size: 11px;
  color: #8b8ba7;
  margin-bottom: 19px;
}
.sceneContainer {
  width: 100%;
  padding: 0 3px 27px 3px;
}
.sceneContainer img {
  display: block;
  width: 23%;
  float: left;
  margin:0 7px 6px 0;
}
.sceneContainer img:nth-child(4n) {
  margin-right: 0;
}
.sceneContainer img:nth-child(n + 5) {
  margin-bottom: 0;
}

/* ------------产业化应用板块------------ */
.industrialization {
  width: 100%;
  text-align: center;
}
.industrialization .industrializationApp {
  width: 83px;
  margin: 0 auto;
  display: block;
  margin-bottom: 7.5px;
}
.industrialization .text {
  font-size: 11px;
  color: #8b8ba7;
  margin-bottom: 17.5px;
}
.industrialization ul {
  width: 100%;
  padding-left: 18px;
  box-sizing: border-box;
  margin-bottom: 23px;
}
.industrialization ul li {
  width: 25%;
  float: left;
  border-right: 23px solid transparent;
  border-bottom: 25px solid transparent;
  box-sizing: border-box;
}
/* .industrialization ul li:nth-child(4n) {
  border-right: 0;
}
.industrialization ul li:nth-child(n + 12) {
  border-bottom: 0;
} */
.industrialization ul li img {
  width: 100%;
}
.industrialization ul li h3 {
  font-size: 13px;
  color: #1F194E;
  margin-bottom: 9.5px;
  text-align: left;
}
.industrialization ul li p {
  font-size: 11px;
  color: #8b8ba7;
  margin-bottom: 10px;
  text-align: left;
}
.industrialization ul li a {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid rgb(73, 174, 250);
  border-radius: 2px;
  color: #55B3FA;
  font-size: 11px;
}

/* ------------footer板块------------ */
.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 11px;
  color: #d5d5d8;
  background-color: rgb(18, 10, 78);
}